@model OldLima.Models.ContactVM

@using (Html.BeginUmbracoForm("Contact", "Contact"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Message)
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
        </div>
        <input type="submit" class="btn btn-primary" value="Verzenden">
    if (!string.IsNullOrEmpty((string)TempData["InfoMessage"]))
    {
        <div class="alert alert-success"><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;<b>@TempData["InfoMessage"]</b></div>
    }
    if (!string.IsNullOrEmpty((string)TempData["ErrorMessage"]))
    {
        <div class="alert alert-danger"><i class="glyphicon glyphicon-alert"></i>&nbsp;&nbsp;<b>@TempData["ErrorMessage"]</b></div>
    }
}